* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s ease;
}

html,
body {
    height: 100%;
    overflow-y: auto;
    /* Scroll vertical sempre habilitado */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #d4d4d4;
}

body::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.hidden {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    /* Impede interação */
}















.tela-inicial {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    height: 100vh;
    text-align: center;
    padding: 1%;
    background-color: #ebebeb;
}

.texto-entrada {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.1px;
    /* espaça 2 pixels entre as letras */
}

.texto-entrada h1,
p {
    font-weight: 300;
    font-size: 40px;
    margin-top: 50px;
    position: relative;
    top: -150px;
}

.texto-entrada h1 {
    font-weight: 300;
    font-size: 40px;
}

.texto-entrada p {
    font-size: 15px;
    /* ou 24px, 18px... ajusta conforme quiser */
}

.button-tela-inicial button {
    position: relative;
    top: -90px; /* sobe 10px */
}

.button-tela-inicial button {
    display: flex;
    margin-top: 20px;
    text-align: center;
    padding: 15px 40px;
    font-size: 20px;
    background-color: rgb(26, 188, 156);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.imagen-inicio{
    display: flex;
    align-items: center;
}

.imagen-inicio img {
    position: relative;
    top: -100px; /* Sobe 20px */
}

.menu-topo {
    display: flex;
    justify-content: space-between; /* Distribui os itens */
    align-items: center;
    padding: 20px;
    margin-bottom: 180px;
}

.titulo {
    display: flex;
    font-size: 30px;
    margin-right: 400px;
    white-space: nowrap; /* Impede a quebra de linha */
    cursor: pointer;
}

.lista-botoes {
    display: flex;
    gap: 40px;
    margin-right: 20px;
    background-color: white;
    white-space: nowrap;
}   

.lista-botoes button {

    border: none;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}

.lista-botoes button:hover {
    
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 255, 255);

}

.grupo-final {
    display: flex;
    white-space: nowrap; /* Impede que o texto quebre a linha */

}

.grupo-final button {
    border: solid;
    border: 0.5px solid black; /* Borda mais fina */
    padding: 6px 30px;
    cursor: pointer;
    background-color: white;
}









.tela-debaixo {
    display: flex;
    justify-content: center;   /* Centraliza no eixo horizontal */
    align-items: center;       /* Centraliza no eixo vertical */
    height: 200px;             /* Define uma altura para que dê pra ver a centralização */
    border: solid;
    margin-top: 100px;
    text-align: center;
}

.tela-debaixo h1 {
    margin: 0; /* remove margens padrão */
}