.hidden {
    display: none !important;
}


.tela-central-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 300px;

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80vh;
    align-items: flex-start;
}

.tela-central-fotos img {
    display: flex;
    margin: 30px;
    border-radius: 10px;
    top: 500px;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 100%;
}

.tela-central-fotos img:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(2);
}