.login-tela {
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) brightness(120%) saturate(150%);
    -webkit-backdrop-filter: blur(20px) brightness(120%) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Arial, sans-serif;
}

.login-tela img {

    width: 65%;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.login-tela img:hover {
    transform: scale(1.2);
}

.input-groupo {
    position: relative;
    margin-bottom: 15px;

}

.input-groupo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    outline: none;
    font-size: 16px;
}

.input-groupo label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 17px;
    pointer-events: none;
    transition: 0.3s;
}


.input-groupo input:focus+label,
.input-groupo input:not(:placeholder-shown)+label {
    top: 5px;
    font-size: 12px;
}


.lembrar-senha {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
}

.entrar {
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.entrar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.entrar:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.registrar {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registrar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.registrar:active {
    transform: scale(0.95);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}