.hidden {
    display: none !important;
}

.tela-cadastro {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* sombra suave */

}

.tela-cadastro h2 {
    margin-bottom: 10%;
    color: white;
}

.imagem-cadastro {

    display: flex;
    justify-content: center;
}
.imagem-cadastro img {
    display: flex;
    width: 65%;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.imagem-cadastro img:hover {
    transform: scale(1.2);
}







.input-groupo-registro {
    position: relative;
    margin-bottom: 15px;
}

.input-groupo-registro input {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(145, 142, 142);
    font-size: 16px;
}

.input-groupo-registro label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 17px;
    pointer-events: none;
}

.input-groupo-registro input:focus+label {
    opacity: 0;
}



.voltar {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(26, 188, 156);
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.voltar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.voltar:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.registrar-se {
    display: flex;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(26, 188, 156);
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registrar-se:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.registrar-se:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}